version: 2
jobs:
  build:
    working_directory: /go/src/github.com/gjbae1212/go-esworker

    docker:
      - image: golang:1.15

    environment:
      GOPATH: /go

    steps:
      - checkout

      - run:
          name: RUN UNIT TEST
          environment:
            GO111MODULE: "on"
          command: bash script.sh test_without_container

      - run:
          name: CODECOV
          command: bash script.sh codecov
